.nav-color {
    background-color: #49277E;
  }
.red-bg {
    background-color: #006400;
}
.border-purple{
    border-style: solid;
    border-color: #49277E;
}
.red-text-color {
    color: #006400;
}
.purple-text-color {
    color: #49277E;
}
.white-text-color {
    color: #FFFFFF;
}
.black-bg {
    background-color: #1a1a1a;
}
